body{
	background:url(img/bg.jpg);
	background-attachment:fixed;
	background-repeat:none;
	font-size:1.5em;
}
.main{
	width: 1100px;
	background-color:#92A5E1;
	margin:0 auto;
}
.main_about{
	background-color:#fff;
}
.movie{
	/* width:300px; */
	/* display:grid; */
	/* justify-content:space-between; */
	/* grid-template-columns: auto auto auto auto; */
	margin-bottom:10px;
	overflow:hidden;
	border-bottom:1px solid silver;
}
img{
	width: 200px;
	height: 300px;
	margin:10px;
	float: left;
}
.des{
	float:left;
	width:700px;
	margin-left:50px;
}
.movie ul{
	list-style-type:none;
	margin:5px;
	float:left;
}
header{
	background:silver;
}
header li{
	display:inline;
}
a{
	padding:5px;
	color:black;
	text-decoration:none;
}
.des a{
	color:blue;
}
a:hover{
	color:red;
}